#aboutSection{
    //Anchor
    #about{
        top: -110px;
    }
    background-color: $darkGray;
    color: $offWhite;
    #bioImage{

    }
    #bioText{
        padding: 20px;
        font-size: 1.35em;
        display: inline-block;
    }
}
