#jumbotron{
    height: 100%;
    width: 100%;
    color: $offWhite;
    text-align: center;
    #jumbotronCanvas{
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: -1;
    }
    #centerContent{
        transform: translateY(-25%);
        margin-top: 40vh;
        pointer-events: none;
        padding: 25px;
        width: 100%;
        position: absolute;
        h1{
            font-size: 4em;
        }
        h2{
            font-size: 2.5em;
        }
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(20px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    #scrollDown{
        width: 100%;
        position: absolute;
        bottom: 20px;
        font-size: 2em;
        #scrollDownCaret{
            font-size: 4em;
        }
        a{
            color: $offWhite;
            transition: 300ms;
            text-decoration: none;
        }
        a:hover{
            color: $lightGray;
            display: inline-block;
            animation: float 2s ease-in-out infinite;
        }
    }
}
