
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$darkBlue: #1A535C;
$lightBlue: #4ECDC4;
$offWhite: #F7FFF7;
$pink: #FF6B6B;
$yellow: #FFE66D;