
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$darkGray: #242626;
$lightGray: #616666;
$offWhite: #f7fff7;
$pink: #ff8080;
$yellow: #ffea80;
